<div class="resume-container">
  <!-- Navigation Bar -->
  <div class="navigation-bar">
    <button mat-raised-button color="primary" (click)="scrollToSection('header-section')">Header</button>
    <button mat-raised-button color="primary" (click)="scrollToSection('experience-section')">Experience</button>
    <button mat-raised-button color="primary" (click)="scrollToSection('portfolio-section')">Portfolio</button>
    <button mat-raised-button color="primary" (click)="scrollToSection('education-section')">Education</button>
    <button mat-raised-button color="primary" (click)="scrollToSection('timeline-section')">Timeline</button>
    <button mat-raised-button color="primary" (click)="scrollToSection('skills-section')">Skills</button>
    <button mat-raised-button color="primary" (click)="scrollToSection('hobbies-section')">Hobbies</button>
    <button mat-raised-button color="primary" (click)="scrollToSection('contact-section')">Contact</button>
  </div>

  <!-- Sections -->
  <section id="header-section" class="section">
    <app-header></app-header>
  </section>
  <section id="experience-section" class="section">
    <app-experience></app-experience>
  </section>
  <section id="portfolio-section" class="section">
    <app-portfolio></app-portfolio>
  </section>
  <section id="education-section" class="section">
    <app-education></app-education>
  </section>
  <section id="timeline-section" class="section">
    <app-timeline></app-timeline>
  </section>
  <section id="skills-section" class="section">
    <app-skills></app-skills>
  </section>
  <section id="hobbies-section" class="section">
    <app-hobbies></app-hobbies>
  </section>
  <section id="contact-section" class="section">
    <app-contact></app-contact>
  </section>

  <!-- Download Button -->
  <button mat-raised-button color="primary" (click)="generatePDF()" class="custom-btn">Download Resume as PDF</button>
</div>
